<div class="slideshow">
	{% for article in blogs['browsall'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>

	<h3 class="lined">Browse All</h3>

<div class="collections stagard">
{% assign bigCount = 3 %}
{% assign bigNext = 4 %}
{% assign bigIndex = 1 %}


{% for product in collection.products %}
	{% if product.title != productName %}
		
		{% assign pro_split = product.title | split: "|" %}
		{% assign pro_split_count = pro_split | size %}

		{%include "collection-productthumbnail" %}

		{% if bigNext == bigIndex %}
			{% assign bigNext = bigNext|plus:bigCount %}
			{% if bigCount == 3 %}
				{% assign bigCount = 4 %}
			{% else %}
				{% assign bigCount = 3 %}
			{% endif %}
		{% endif %}

		{% assign bigIndex = bigIndex|plus:1 %}
		{% assign productName = product.title %}
	{% endif %}
{% endfor %}

</div>