{% if blogs['browsall'].articles[0].content %}
	<div class="slideshow">
		{% for article in blogs['browsall'].articles limit: 3 %}
			<div>{{article.content}}</div>
		{% endfor %}
	</div>
{% endif %}

	{% comment %}<h2>Browse All</h2>{% endcomment %}

{% comment %}<p>
{% for product_type in shop.types %}
	{{product_type}},
{% endfor %}
</p>{% endcomment %}

{% comment %}<p>

</p>{% endcomment %}

{% assign BAO = settings.borwseall-order|split:"," %}


<div class="collections browseall {% if blogs['browsall'].articles[0].content%}{% else %}negativemargin{%endif%}">



{% assign bigNext = 0 %}
{% assign bigIndex = 1 %}
{% assign blankPreviousSelection = false %}
{% assign breaker = false %}
{% for type in BAO%}
	{% assign type_compairagainst = type | split: "|" %}
	{% comment %}<h2>{{type}}</h2>{% endcomment %}
	{% for product in collection.products| sort: 'type' %}
		{% if product.type == type_compairagainst[0] or product.type == type_compairagainst[1] %}
			{% assign pro_split = product.title | split: "|" %}
			{% assign pro_split_count = pro_split | size %}
			{% if breaker == false %}
				<img class="lifestyleimage" src="{{product.images | last | product_img_url: 'original'}}">
			{% endif %}
			{%include "collection-productthumbnail" %}
			{% assign breaker = true %}
		{% elsif breaker == true %}
			{% comment %}{% assign breaker = false %}{% endcomment %}
			{% comment %}{% break %}{% endcomment %}
		{% endif %}
	{% endfor %}
	{% assign breaker = false %}
{% endfor %}

</div>