<li {% if product == keep %}class="currentcolour"{% endif %}>
	{% assign colour = product.title | split: "|" | last %}
	<a href="#{{colour | handleize}}"><div class="colourswatch"><img src="{{ product.images[0] | product_img_url: 'large' }}"></div></a></li>
