@import "settings";

@import "article";

.blog{
	iframe{
		margin: 0 auto;
		display: block;
	}
	.bloglist{
	}
	p{
		width: 60%;
		margin: 0 auto;
		padding-top: 1em;
		font-size: 1.3em;
 		line-height: 1.6em;
  		letter-spacing: .04em;
	}
	.left,.right{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		img{
			max-width: 100%;
		}
	}
	li > a{
		position: relative;
		display: block;
	}
	li{
		background-color: $white;
		@include transition(background-color,0.35s,ease-in-out);
		padding: 2em;
		margin: -2em;
		margin-top: $pb*2;
		&:hover{
			background-color: $offwhite;
		}
	}
	.right{
		display: inline-block;
		position: relative;

		p:first-child{
			display: none;
		}
		p:nth-child(2){
			padding-top: 0;
			margin-top: -5px;
		}
		
		img{
			display: none;
		}
	}
	.excerpt{
		p:last-child::after{
			content: "\0205FRead more\02026";
			color: #2a7fc0;
		}
	}

	.share{
		position: absolute;
		top: 100%;
		right: 0;
		
		background-color: $lightgrey;
		border: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		padding: 0.4em 0.75em;
		text-transform: uppercase;
		@include transition(background-color,0.35s,ease-in-out);
		@include transition(color,0.35s,ease-in-out);
		&:hover{
			color: $white;
			background-color: $darkgrey;
		}
		
	}

	h4{
		display: block;
		text-align: center;
		font-size: inherit;
		font-size: 1.3em;
		padding: 0 0 1em 0;
		letter-spacing: 0.15em;
		color: $blue;

		&::before {
			content: "—"
		}
		&::after {
			content: "—"
		}
	}	
}


.popup-article{
	position: relative;
	padding: 3em 2em 2.5em 2em;
	margin: 0 -2em;
	border-bottom: $border;

	p {
		font-size: 1em;
	}

	p:first-of-type {
		// font-size: 0.1em;
		width: 30%;
		padding: 0;
	}

	h4{
		display: block;
		text-align: center;
		font-size: inherit;
		font-size: 1.3em;
		padding: 0 0 1em 0;
		letter-spacing: 0.15em;
		color: $blue;

		&::before {
			content: "—"
		}
		&::after {
			content: "—"
		}
	}
	
	p{
		display: inline-block;
		width: 30%;
		//padding: 0;
		vertical-align: top;
		// &:last-child{
		// 	color: $grey;
		// }
		padding: 0 1em;
	}
	img{
		max-width: 100%;
	}
	ul{
		//width: 100%;
		color: $grey;
		text-align: right;
		li{
			display: block;
			width: 100%
		}
		width: 34%;
		text-align: right;
		display: inline-block;
	}

	.caption {
		font-size: 0.8em;
		letter-spacing: 0.12em;
		font-style: italic;
	}

	@include transition(background-color, 0.2s, ease-in-out);

	&:hover {
		background-color: $offwhite;
	}
}

