@import "settings";
.blog{
	li{
		position: relative;
		display: inline-block;
		width: 32%;
		padding-right: 1%;
		vertical-align: top;
		p:first-child{
			height: 300px;
			position: relative;
			overflow: hidden;
		}
		img{
			min-width: 100%;
			min-height: 300px;
			@include vertical-align;
		}
		h3{
			// position: absolute;
			// top: 0;
			// left: 0;
			width: 100%;
			text-transform: inherit;
			padding-bottom: $pb*0.25;
		}
		&:hover h3{
			background-color: $white;
		}		
	}
	.wide{
		width: 65%;
	}
}

.pagecontent {
	margin: 0 auto;
	width: 60%;
}

.popup-article{
	position: relative;
	padding: 3em 0 2.5em;
	border-bottom: solid 1px #ccc;

	p {
		font-size: 1em;
	}

	p:first-of-type {
		// font-size: 0.1em;
		width: 30%;
		padding: 0;
	}

	h4{
		display: block;
		text-align: center;
		font-size: inherit;
		font-size: 1.3em;
		padding: 0 0 1em 0;
		letter-spacing: 0.15em;
		color: $blue;

		&::before {
			content: "—"
		}
		&::after {
			content: "—"
		}
	}
	
	p{
		display: inline-block;
		width: 30%;
		//padding: 0;
		vertical-align: top;
		// &:last-child{
		// 	color: $grey;
		// }
		padding: 0 1em;
	}
	img{
		max-width: 100%;
	}
	ul{
		//width: 100%;
		color: $grey;
		text-align: right;
		li{
			display: block;
			width: 100%
		}
		width: 34%;
		text-align: right;
		display: inline-block;
	}

	.caption {
		font-size: 0.8em;
		letter-spacing: 0.12em;
		font-style: italic;
	}
}

.popup-article:hover {
	background-color: #efefef;
	transition: all 0.2s;
}