@import "settings";

.cart{
	// @extend .center;
	padding: 2*$pb 0;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	p{
		text-align: center;
	}

	table{
		width: 100%;
		@include at-query ($max, $large) {
			width: 80%;
			margin: 0 auto;
		}		
	}
	td,a{
		vertical-align: top;
	}
	td{
		margin-top: 0.25*$pb;
		padding-top: 0.75*$pb;
		text-align: center;

		&:first-child{
			padding-top: 0.25*$pb;
			a{
				padding-top: 0.5*$pb;
				@include at-query ($max, $medium) {
					padding-top: 0;
				}
			}
		}
	}

	@include at-query ($max, $inbetween) {
		tr{
			display: block;
			padding: $pb/4 0;
			border-bottom: $border;
			&:first-child{
				display: none;
			}			
			td{
				display: inline-block;
				width: 33%;
				padding: 0;
				margin: 0;
				&.desc{
					width: 100%;
					padding-bottom: $pb/4;
				}
				
				&.price{
					display: none;
				}
				.label{
					padding-right: 0;
					padding-left: 0;
				}
				// &.total{
				// 	display: none;
				// }
			}
		}
		.actions td{
			width: 100%;
			text-align: center;
			input{
				margin-bottom: 0.5em;
			}
		}
	}
	.qty input{
			padding: 1em 0.75em;
			max-width: 90%;
		}
	.price span,.total span,.remove a{
		display: inline-block;
		padding: 1em 0.75em;
	}
	.remove a{
		color: $blue;
	}

	@include at-query ($min, $inbetween) {
		.total,.total h3,.total span {
			text-align: right;
			padding-right: 0;
		}
	}

	.subtotal td,.actions td{
		text-align: right;
		@include at-query ($max, $inbetween) {
			text-align: center;
			width: 100%;
		}
	}

/*	.total,.total h3{
		text-align: right;
	}*/

	.desc{
		img{
			width: 35%;
			@include at-query ($max, $medium) {
				width: 100%;
			}
		}
		a{
			width: 55%;
			margin-left: 3%;
			display: inline-block;
			@include at-query ($max, $medium) {
				padding-top: 0;
				width: 100%;
				margin: 0;
			}
		}
	}

}

#cart{
	padding: 0;
	@include at-query ($max, $large) {
		padding: $pb/2 0;
		width: 100% !important;
	}
}

#inform_of_price{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 50;
	> div {
		position: relative;
		bottom: -200px;
		background-color: $darkgrey;
		@include transition(bottom,0.35s,ease-in-out);
	}
	p{
		color: $white;
		text-align: center;
		padding-top: 1em;
		max-width:75%
	}
	.popup-exit{
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		padding: $pb/7 $pb/7;
		svg{
			width: $pb/3;//25px;
			height: $pb/3;//25px;
		}
	}
	&.show{
		> div {
			bottom: 0;
		}
	}
}