@import "settings";

.collections{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	&.negativemargin{
		margin-top: -$pb;
	}
}
.subcollection{
	padding-bottom: 0.5*$pb;
}

.stagard{
	.productthumbnail{
		// padding-top: $pb;
		// img {
		// 	width: 80%;
		// }
	}
	span.text {
		position: relative;
		top: $pb/1.15;//65px;
		left: $pb/5;//15px;
	}
}
img.lifestyleimage{
	width: 100%;
}
.browseall{
	> img{
		padding-top: $pb*3;
	}
	> img:first-child{
		padding-top: 0;
	}
}