.footer{
	background-color: $darkgrey;
	color: #fff;
	>div>div{
		padding: $pb 0;
	}
	span {
		font-weight: 600;
	}
	.logo,.footer-nav,.news{
		vertical-align: top;
		display: inline-block;
		padding-left: 4%;
		// padding-right: 4%;
	}
	.logo{
		width:15%;
		svg{
			width: 100px;
		}
		path{
			fill: $white;
		}
	}
	.footer-nav{
		width:16%;
		li{
			padding: 0.2em 0;
		}
		&.wide{
			width: 30%;
		}
	}
	.news{
		width: 35%;
		text-align: left;
		span{
			margin-bottom: 0.7em;
			display: inline-block;
		}
		input{
			padding: 7px 5%;
			border: solid $white 2px;
			color: $white;
			width: 68%;
			text-align: left;
			background-color: transparent;
			margin-bottom: 1em;
			display: inline-block;
		}
		path{
			fill:$white;
		}
		
		
		.popup-exit,.popup{
			display: none;
		}
		.show{
			&.signupform{
				position: fixed;
				display: table;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 999999;
				> div{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
			}

			#mc_embed_signup{
				margin: 0 auto;
				max-width: 400px;
				width: 90%;
				padding: 4% 5%;
				display: inline-block;
				background-color: rgba(30,30,30,0.8);
				position: relative;
			}
			.popup-exit{
				position: absolute;
				display: block;
				top: 10px;
				right: 10px;
				svg{
					width: 25px;
					height: 25px;
				}
			}
			.popup{
				display: block;
			}
			.footer-text{
				display: none;
			}
		}
		#mc-embedded-subscribe{
			width: auto;
			max-width: 20%;
			border-left: none;
			font-size: 0.5em;
			padding: 6.5px 1%;
			line-height: 2em;
			vertical-align: middle;
			margin-top: 6px;
			@include transition(background-color,0.35s,ease-in-out);
			@include transition(color,0.35s,ease-in-out);
			&:hover{
				color: $darkgrey;
				background-color: $offwhite;
			}
		}
	}

	.facebook, .twitter, .pintrest{
		padding: 0 0.75em;
	}
	.facebook{
		padding-left: 0.5em;
	}

	.notes{
		display: none;
	}
}