.footer{
	background-color: $darkgrey;
	color: #fff;
	>div>div{
		padding: $pb 0;
	}
	span {
		font-weight: 600;
	}
	.logo,.footer-nav,.news{
		vertical-align: top;
		display: inline-block;
		padding-left: 4%;
		// padding-right: 4%;
	}
	.logo{
		width:15%;
		svg{
			width: 100px;
		}
		path{
			fill: $white;
		}
	}
	.footer-nav{
		width:16%;
		li{
			padding: 0.2em 0;
		}
		&.wide{
			width: 30%;
		}
	}
	.news{
		width: 35%;
		text-align: left;
		span{
			margin-bottom: 0.7em;
			display: inline-block;
		}
		input{
			padding: 7px 5%;
			//border: solid $white 2px;
			border: none;
			color: $white;
			width: 69%;
			text-align: left;
			background-color: transparent;
			margin-bottom: 1em;
			display: inline-block;
		}
		path{
			fill:$white;
		}
		#mc-embedded-subscribe{
			width: 30%;
			text-align: center;
			height: 100%;
			border-left: solid 2px #fff;
			vertical-align: top;
			margin: 0;
			padding: 7px 5%;
			@include transition(background-color,0.35s,ease-in-out);
			@include transition(color,0.35s,ease-in-out);
			&:hover{
				color: $darkgrey;
				background-color: $offwhite;
			}
		}
		.mc-field-group {
			font-size: 1em;
			vertical-align: top;
			border: solid 2px #fff;
			padding: 0px;
			margin: 0 0 20px 0;
			height: 32px;
			text-align: right;
		}
	}

	.facebook, .twitter, .pintrest{
		padding: 0 0.75em;
	}
	.facebook{
		padding-left: 0.5em;
	}

	.notes{
		display: none;
	}
}