@import "settings";

h1,h2,h3,h4,h5,a,ul,li,p{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	color: inherit;
	text-decoration: none;
}

h3{
	text-transform: uppercase;
	font-weight: normal;
	&.lined{
		padding-bottom: 0.5em;
		border-bottom: $border;
		margin: 3em 0;
	}
}

#wrapper{
	width: 100%;
	position: relative;
	padding-top: 46px;
	> div:first-child{
		margin-top: 80px;
	}
}

.hide{
	display: none;
}

.slideshow{
	width: 100%;
	height: 400px;
	background-color: $grey;
	position: relative;
	overflow: hidden;
	margin-top: 0 !important;
	.slick-slide{
		position: relative;
		overflow: hidden;
		height: 400px;
		> div{
			height: 400px;
		}
		img{
			@include vertical-align;
			width: 100%;
		}	
	}
	.slick-prev,.slick-next{
		position: absolute;
		top: 0;
		z-index: 99;
		height: 100%;
		border-radius: 0;
		border: none;
		background-color: transparent;
	}
	.slick-prev{
		left: 0;
	}
	.slick-next{
		right: 0;
	}

}
input{
	border: $border;
	padding: 1em 2.75em;
	-webkit-appearance:none;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
}

.button{
	background-color: $black;
	color: $white;
	border: none;
	-webkit-appearance:none;
	text-transform: uppercase;
	&.small{
		padding: .45em 1.5em;
		margin-right: 1%;
	}
	&.large{
		padding: 1em 2.75em;
	}
}

.lifestyleshot{
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-top: 2*$pb;
}



.footer{
	background-color: $darkgrey;
	color: #fff;
	>div>div{
		padding: $pb 0;
	}
	.logo,.footer-nav,.news{
		vertical-align: top;
		display: inline-block;
		padding-left: 4%;
	}
	.logo{
		width:16%;
		svg{
			width: 100px;
		}
		path{
			fill: $white;
		}
	}
	.footer-nav{
		width:16%;
		li{
			padding: 0.2em 0;
		}
	}
	.news{
		width: 36%;
		span{
			margin-bottom: 0.7em;
			display: inline-block;
		}
		input{
			padding: 0.5em 5%;
			border:solid $white 2px;
			color: $white;
			width: 90%;
			text-align: left;
			background-color: transparent;
			margin-bottom: 1em;
		}
		path{
			fill:$white;
		}
	}
	.facebook, .twitter, .pintrest{
		padding: 0 0.5em;
	}
	.facebook{
		padding-left: 0.25em;
	}

	.notes{
		display: none;
	}
}

@include keyframes(fadeIn) {
	0% { 
		opacity: 0; 
	  	transform: translate3d(0, 25%, 0);
	}
	100% { 
		opacity: 1;
		transform: none;
	}
}

#main #wrapper{
	@include vendorize(transition-timing-function, ease-in);
	@include vendorize(animation-fill-mode, both);
	position: relative;
}

#main #wrapper{
	@include animation('fadeIn 0.5s');
}

#main.is-exiting #wrapper{
	@include vendorize(animation-direction, alternate-reverse);
}

// @-webkit-keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

// @keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

