@import "settings";

h1,h2,h3,h4,h5,a,ul,li,p{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style: none;
	text-align: left;
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2.5em;
	font-style: 100;
	text-transform:	uppercase;
	letter-spacing: 0.05em;
	color: $blue;
	font-weight: 600;
}

//Global underlined and uppercase style for all Header 2 styles
h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.3em;
	text-align: center;
	letter-spacing: 0.2em;

	padding: $pb 0 $pb*0.2 0;
	border-bottom: $border;
	margin: 0 auto $pb*0.2 auto;
	
	width: 50%;
	color: #888;
}

//Global style for all Header 3 styles (extends 2 distinct styles from base)
h3{
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
	color: $black;
	letter-spacing: 0.12em;
	margin: 1em 0 0.5em 0;
	text-align: left;
	width: 100%;

	&.sub-h3 {
		color: $blue;
		text-align: center;
		margin: 0 0 1.4em 0;
		&::before {
			content: "\02014 \000A0";
		}
		&::after {
			content: "\000A0\02014";
		}
	}
	&.blue-h3 {
		@extend .sub-h3;
		margin: 0;
		&::before, &::after {
			content: "";
		}
	}
}

//Global style for all Header 4 styles (extended by product thumbnail)
h4{
	color: $black;
	text-align: left;
	font-weight: 400;
	width: 100%;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin: 0 0 0.6em 0;
}

//Global style for all Header 5 styles to be used by client
h5 {
	font-weight: 400;
	margin: 2em 0 0.6em;
	font-size: 1em;
	letter-spacing: 0.08em;
	color: $blue;
}


// Global Paragraph

	p{
		color: #f00;
		color: $darkgrey;
		margin: 0 auto;
		padding-bottom: 1em;
		font-size: 1.2em;
		line-height: 1.55em;
		letter-spacing: .055em;

		@include at-query ($max, $medium) {
			font-size: 1.06em;
			letter-spacing: .03em;
		}	
	}

#main{
	padding-bottom: 2*$pb;
	background-color: $white;
	min-height: 40%;
	min-height: 40vh;
	width: 100%;
	@include transition(background-color,0.5s,ease);
}

.shadow {
	background-color: #333 !important;
}

#wrapper{
	width: 100%;
	position: relative;
	padding-top: 100+$pb;
	@include at-query ($max, $large) {
		padding-top: 100px;
	}
}

.hide{
	display: none;
}

$slideVh: 80vh;
$slideHight: 600px;
$slideHightTab: 400px;
.slideshow{
	width: 100%;		
	background-color: transparent;
	position: relative;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	margin: -$pb 0 $pb 0;
	height: $slideHight;
	@include transition(height,0.35s,ease-in-out);
	@include at-query ($max, $large) {
		margin: 0 0 2*$pb 0;
		height: $slideHightTab;
	}
	height: $slideVh;
	.overlaytext{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 10%;
		padding-top: 20vh;
	}
	> div{
		height: 100%;
		width: 100%;
	}
	.slick-slide{
		position: relative;
		overflow: hidden;
		height: $slideHight;
		background-color: $white;
		@include at-query ($max, $large) {
			height: $slideHightTab;
		}
		height: $slideVh;
		img{
			@include transition(height,0.35s,ease-in-out);
			@include vertical-align;
			width: 100%;
			@include at-query ($max, $inbetween) {
				width: auto;
				height: 100%;
				height: 80vh;
			}
		}	
	}
	.slick-prev,.slick-next{
		position: absolute;
		top: 0;
		z-index: 99;
		height: 100%;
		border-radius: 0;
		border: none;
		background-color: transparent;
		width: 20%;
		padding: 0;
		color: transparent;		
		&:focus{
			outline:none;
		}
	}
	.slick-prev{
		left: 0;
	}
	.slick-next{
		right: 0;
	}

}
input{
	border: $border;
	padding: 1em 2.75em;
	-webkit-appearance:none;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
}

.button{
	background-color: $black;
	color: $white;
	border: none;
	-webkit-appearance:none;
	text-transform: uppercase;
	&.small{
		padding: .45em 1.5em;
		margin-right: 1%;
	}
	&.large{
		padding: 1em 2.75em;
	}
}

.lifestyleshot{
	display: none;
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-top: 2*$pb;
}

@include keyframes(fadeIn) {
	0% { 
		opacity: 0; 
	  	transform: translate3d(0, 25%, 0);
	}
	100% { 
		opacity: 1;
		transform: none;
	}
}

#main #wrapper{
	@include vendorize(transition-timing-function, ease-in);
	@include vendorize(animation-fill-mode, both);
	position: relative;
}

#main #wrapper{
	@include animation('fadeIn 0.5s');
}

#main.is-exiting #wrapper{
	@include animation('fadeIn 0.5s');
	@include vendorize(animation-direction, alternate-reverse);
}

// @-webkit-keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

// @keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

