@import "settings";

h1,h2,h3,h4,h5,a,ul,li,p{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	color: inherit;
	text-decoration: none;
}

h3{
	text-transform: uppercase;
	font-weight: normal;
	&.lined{
		padding-bottom: 0.5em;
		border-bottom: $border;
		margin: 3em 0;
	}
}

#wrapper{
	width: 100%;
	position: relative;
	padding-top: 72px;	
}

.hide{
	display: none;
}

.slideshow{
	height: 400px;
	width: 100%;
	background-color: $grey;
}
input{
	border: $border;
	padding: 1em 2.75em;
	-webkit-appearance:none;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
}

.button{
	background-color: $black;
	color: $white;
	border: none;
	-webkit-appearance:none;
	text-transform: uppercase;
	&.small{
		padding: .45em 1.5em;
		margin-right: 1%;
	}
	&.large{
		padding: 1em 2.75em;
	}
}