@import "settings";

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $blue !default;
$slick-dot-color: $blue !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 36px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.index.slideshow{
	// height: 800px;
	// height: 90vh;
	// .slick-slide{
	// 	height: 800px;
	// 	height: 90vh;
	// }
}

.index {
	.slick-dots {
		position: relative;
		bottom: 50px;
		width: 100%;
		margin: 0 auto;
		text-align: center;

		ul {
			position: relative;
			bottom: 50px;
			width: 100%;
			/* margin: 0 auto; */
			text-align: center;
		}

		li {
			display: inline-block;
			margin: 0 0.5em;
		}

		button {
	            border: 0;
				border-radius: 50%;
				//background: transparent;
				opacity: 0.6;
				display: inline-block;
				height: 13px;
				width: 13px;
				outline: 0;
				line-height: 0;
				font-size: 0;
				color: transparent;
				padding: 5px;
				cursor: pointer;
	        }


	            &:hover, &:focus {
	                outline: none;
	                &:before {	           
	                    opacity: $slick-opacity-on-hover;
	                }
	            }
	            // &:before {
	            //     // position: absolute;
	            //     // top: 0;
	            //     // left: 0;
	            //     content: $slick-dot-character;
	            //     // width: 20px;
	            //     // height: 20px;
	            //     font-family: $slick-font-family;
	            //     font-size: $slick-dot-size;
	            //     line-height: 20px;
	            //     text-align: center;
	            //     color: $slick-dot-color;
	            //     opacity: $slick-opacity-not-active;
	            //     -webkit-font-smoothing: antialiased;
	            //     -moz-osx-font-smoothing: grayscale;
	            // }
	        // }
	}
		.slick-active button {
		color: $blue;
		background-color: $blue;
		opacity: 0.5;
	}
}

.company {
	h1 {
		font-size: 1.6em;
		font-style: 100;
		text-transform: uppercase;
		letter-spacing: .16em;
		font-weight: 100;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	p {
		text-align: center;
		color: $black;
		margin: 0 auto;
		padding-bottom: 1em;
		font-size: 1.5em;
		padding-top: 1em;
		line-height: 1.6em;
		letter-spacing: .04em;
	}
}

blockquote {
	margin: 2em auto;
	font-size: 1.6em;
	color: $black;
	width: 80%;
	line-height: 1.5em;
	letter-spacing: 0.07em;
	overflow: hidden;

	&::before,&::after  {
		content: '';
		display: block;
		margin: 0 auto 1em auto;
		width: 3em;
		border-top: $border;
	}
	&::after {
		margin-top: 1em;
	}
}

// @include keyframes(highlight) {
// 	0% { 
// 		background: #ffffff; /* Old browsers */
// 		background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
// 		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
// 		background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
// 		background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 100%); /* Opera 12+ */
// 		background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 100%); /* IE10+ */
// 		background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 100%); /* W3C */
// 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
// 	}
// 	50% {
// 		fill: 
// 	}
// 	100% { 
// 		background: #ffffff; /* Old browsers */
// 		background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
// 		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
// 		background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
// 		background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 100%); /* Opera 12+ */
// 		background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 100%); /* IE10+ */
// 		background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 100%); /* W3C */
// 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
// 	}
// }

.logos{
	@extend .center;
	min-width: 70%;
	text-align: center;
	margin-top: 4em !important;
	.logo{
		display: inline-block;
		position: relative;
		padding: 5%;
		width: 20%;
		@include at-query ($max, $medium) {
			width: 33%;
			padding: 0 0 5% 0;
			overflow: hidden;
		}
		.hover{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			&:hover{
				opacity: 1;
			}
		}
	}
	.draggable:focus,.slick-track:focus,.slick-slide:focus {
		outline:none;
	}
	svg{
		@include transition(fill, 0.35s, ease-out);
		fill: $grey;
		position: relative;
		left: 50%;
		@include vendorize(transform, translate(-50%,20%))
		
	}
	.descriptions {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.highlight{
		svg{
			fill: $blue;
		}
		// @include vendorize(transition-timing-function, ease-in);
		// @include vendorize(animation-fill-mode, both);		
		// @include animation('highlight 0.5s');
	}

	@include at-query ($max, $medium) {
		blockquote{
			margin: 0;
			width:100%;
		}
	}
	.logo-text{
		display: none;
	}
	@include at-query ($min,$large) {
		.logo-text{
			display: inherit;
		}
	}
}

.company {
	//width: 80%;
	margin: 0 auto;
	width: 60%;
	min-width: 400px;
	margin: 0 auto;
	padding-top: 1em;
	@include at-query ($max, $medium) {
		width: 100%;
		min-width: inherit;
	}	
	// font-size: 1.3em;
	// line-height: 1.6em;
	// letter-spacing: .04em;
}

.biglinks {
	padding-top: 1.25*$pb;
	width: 90%;
	display: block;
	margin: 0 auto;

	@include at-query ($max, $medium) {
		padding-top: 1.25*$pb;
		margin-bottom: -$pb/2;
	}

	> div {
		width: 33.3%;
		display: inline-block;
		overflow: hidden;
		position: relative;
		@include at-query ($max, $medium) {
			width: 90%;
			display: block;
			margin: 40px auto 0 auto;
		}
	}
	img{
		width: 100%;
	}
	.images{
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	button{
		background-color: transparent;
		border: none;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		&:focus{
			outline: none;
		}
	}
	.label{
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
		bottom: 0;
		background-color: rgba(255,255,255,0.3);
		color: $darkgrey;
		@include transition(all, 0.35s, ease-out);		
		h3 {
			text-align: center;
		}
		&:hover{
			background-color: rgba(255,255,255,0);
			color: $white;
		}
	}
}




