@import "settings";

.logos{
	@extend .center;
	text-align: center;
	margin-top: 2*$pb !important;
	.logo{
		display: inline-block;
		position: relative;
		padding: 5%;
		width: 20%;
		.hover{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			&:hover{
				opacity: 1;
			}
		}
	}
}

.featureditems{
	@extend .center;
	margin-top: $pb !important;
	.product{
		display: inline-block;
		padding: $pb 0 0 0;
		vertical-align: top;
		h3{
			padding-top: $pb*0.135;
		}
		h4{
			display: inline-block;
			// font-weight: normal;
			// text-transform: uppercase;
			padding-bottom: $pb*0.125;
		}
		.backgroundimage{
			height: 300px;
			position: relative;
		}
		.bottom{
			p,ul,h3,h2{
				display: none;
			}
			p:first-child{
				display: block;
			}
		}
		.text{
			position: relative;
			.bottom{
				position: relative;
			}
		}
	}
}

