@import "settings";

.infopage{
	//@extend .center;
	div {
		width: 60%;
		margin: 0 auto;
	}
	padding-bottom: 6em;
	> h3{
		@extend h3.lined;
	}
	p{
		margin: 0 auto 0.7em auto;
		//width: 70%;
	}
	> h3:first-child{
		padding-top: 0;
	}

	h3 {
		margin-top: 2em;
	}
	//Make this stuff GLOBAL!

	ul {
		width: 70%;
		margin: 0 auto;
	}
	li {
		margin-bottom: 0.7em;
		font-size: 1.15em;
	}

}