@import "settings";
.lookbook {
	.image{
		img {
			width:100%;
			margin-bottom: 10em;
		}
		/*position: relative;
		display: inline-block;
		vertical-align: top;
		line-height: 0;*/
		svg{
			display: none;
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 100px;
			height: auto;
		}
	}

	//Perhaps this should be global

	blockquote {
		margin: 1em -80px;
		font-style: italic;
		font-size: 1.3em;
		color: #999;
		width: 100%;

		p::before {
			content: '';
			display: block;
			margin: 0 auto 1em auto;
			width: 3em;
			border-top: 2px solid rgb(42,127,192);
		}

		p::after {
			content: '';
			display: block;
			margin: 0 auto 1em auto;
			width: 3em;
			border-top: 2px solid rgb(42,127,192);
		}
	}

}