.productthumbnail{
	position: relative;
	min-height: 200px;
	width: 31.5%;
	margin-right: 1.5%;
	margin-bottom: 1.5%;	
	&.listitem{
		display: inline-block;
		width: 19%;
		vertical-align: top;
		margin-right: 1%;
		img{
			width: 100%;
		}
	}
	.backgroundimage{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
	}
	.second{
		display: none;
	}
	.text{
		position: relative;
		display: block;
		h3{
			margin:	0;
		}
		h4{ 
			width: auto !important;
		}
		// background-color: rgba(0,0,0,0.5);
		.bottom{
			position: absolute;
			bottom: 0;
			left: 0;
			p,ul,h3{
				display: none;
			}
			p:first-child{
				display: block;
			}
		}
		.price{
			display: block;
		}
	}
		
	&:hover{
		.backgroundimage{
			display: none;
		}
		.second{
			display: block;
		}
	}

	&.big{
		width: 64.5%;
	}	

}