@import "settings";

.subcollection{
	margin-top: -50px;
}
#product .productthumbnail,.productthumbnail{

	position: relative;
	width: 30%;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	
	height: 400px;
	height: 30vw;	
	@include at-query ($max, $large) {
		height: 45vw;
	}

	margin-top: 7em;

	@include at-query ($max, $large) {
		width: 45%;
		max-height: 45vw;	
	}
	@include at-query ($max, $medium) {
		width: 90%;
		max-height: 90vw;	
	}	

	&.big{
		width: 60%;
		@include at-query ($max, $large) {
			width: 90%;
		}
	}

	img{
		display: block;
		width: 100%;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		@include transition(opacity,0.25s,ease-in-out);
	}

	&:hover img, &:hover h3, &:hover h4{
		opacity: 1;
	}
	&:hover h4{
		color: $blue;
	}

	h3,h4{
		opacity: 0.8;
		margin: 0;
		z-index: 2;
		position: relative;
	}
	.text{
		z-index: 2;
		position: relative;
	}
	.cover{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		z-index: 5;
	}

	&.productpage{
		width: 17%;
		font-size: 0.9em;
		text-align: center;
	}
}
.touch .productthumbnail{
	opacity: 1;
	&:hover{
		opacity: 0.8;
	}
}