@import "settings";

#product{
	@extend .center;
	position: relative;
	z-index: 2;
	.multi-product{
		padding-bottom: $pb;
	}
	.left{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-top:	0.375*$pb;
		.list{
			width: 20%;
			display: inline-block;
			vertical-align: top;
			img{
				width: 80%;
				margin: 0 20% 20% 0;
			}
		}
		.main{
			width: 80%;
			display: inline-block;
			vertical-align: top;
			img{
				width: 100%;
			}
		}
	}
	.right{
		width: 40%;
		margin-left: 10%;
		display: inline-block;
		vertical-align: top;

		ul{
			padding: 1em 0;
			li{
				font-size: 0.90em;
				color: $darkgrey;
			}
		}	
		select{
			// display: none;
		}	
		.producttitle{
			
		}
		.price{
			padding-top: 0.5*$pb;
			text-align: right;
			width: 80%;
			color: $blue;
		}
		.description{
			padding-top: 0.5*$pb;
			ul{
				padding: 0.125*$pb 0 0 0;
			}
		}
		.quantity,.add{
			border: 2px solid $black;
			padding: 1em 0;
			width: 40%;
			margin-right: 2%;
		}
		.available-colours{
			padding-top: 0.5*$pb;
			ul{
				padding: 0.125*$pb 0 0 0;
			}
			li{
				display: inline-block;
			}
		}
		.sizing{
			padding: 0.5*$pb 0;
		}

		.currentcolour{
			text-decoration: underline;
		}
		.selected{
			border: solid 1px #f00;
		}
	}

	.sizechart{
		padding-top: 0.5*$pb;
		.show{display: none;}
		.notshow{display: inline-block;}
		img{
			max-width: 100%;
		}
		&.hide{
			display: block;
			>div{
				display: none;
			}
			.show{display: inline-block;}
			.notshow{display: none;}
		}
	}
	.similar-products{
		padding: $pb 0;
	}

}
.social-product{
	position: absolute;
	width: 100%;
	.offsetleft {
		@extend .center;
		position: relative;
		left: -5%;
	}
	a{
		display: block;
		padding: 0.375*$pb 0;
	}
	// a:first-child{
	// 	padding-top: 0;
	// }
}