$thumbSize: 400px;
$small: 480px;
$medium: 670px;
$large: 1120px;
$min: min-width;
$max: max-width;

$lightgrey: #ccc;
// $grey: #818A8F;
$grey: #818181;
//$darkgrey: #555;
$darkgrey: #31313f;
$white: #fff;
$offwhite: #efefef;
$black: #363636;
$lightgrey: #ccc;
$blue: rgb(42,127,192);

$width: 90%;
$indsideWidth: 1000px;
$min-width:500px;
$pb: 75px;
$fs: 0.95em; //font size
$border: 1px solid $lightgrey;
.center{
	width: $width;
	max-width: $indsideWidth;
	margin: 0 auto;	
}
.bolder{
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}




@mixin at-query ($constraint, $viewport1, $viewport2:null) {
	@if $constraint == $min {
		@media screen and ($min: $viewport1) {
			@content;
		}
	} @else if $constraint == $max {
		@media screen and ($max: $viewport1) {
			@content;
		}
	} @else {
		@media screen and ($min: $viewport1) and ($max: $viewport2) {
			@content;
		}
	}
}

@mixin vendorize($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin vertical-align {
	position: relative;
	// top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
}