@import "settings";

.stagard{
	@extend .center;
	.product{
		position: relative;
		display: inline-block;
		width: 31.5%;
		margin-right: 1.5%;
		margin-bottom: 1.5%;
		height: 300px;
		vertical-align: top;
		color: $black;

		&.big{
			width: 64.5%;
		}
	}
}