@import "settings";
@import "blog";

.story{
	@extend .center;
	.pagecontent{
		padding: 2*$pb 0 0 0;
		p{
			width: 50%;
			margin: 0 auto;
			padding: 0.125*$pb 0 1*$pb 0;
		}
	}
	.gandh{
		p{
			display: inline-block;
			vertical-align: top;
			width: 45%;
			padding-left: 5%;
			&:first-child{
				width: 50%;
				padding-left: 0%;
				float: left;
			}
		}
		.clear{
			clear: both;
			width: 100%;
		}
		img{
			width: 100%;
		}
	}

	.philosophy{
		li{
			display: inline-block;
			width: 30%;
			text-align: center;
		}
		h4{
			text-align: center;
		}
		p{
			min-width: 150px;
			width: 50%;
			margin: 0 auto;
		}
	}

	.process{
		@extend .blog;
		ul{
			width: 100%;
		}
	}

}