@import "settings";

.story{
	@extend .center;
	h2{
		margin-bottom: 1.35em;
	}
	.pagecontent{
		padding: 0 0 0 0;
		p{
			width: 50%;
			margin: 0 auto;
			padding: 0.125*$pb 0 1*$pb 0;
		}
	}
	.gandh{
		padding-bottom: $pb/1.5;
		text-align: right;
		@include at-query ($min, $large) {
			width: 130%;
			position: relative;
			left: -15%;
			padding-left: none;
		}	
		p{
			display: inline-block;
			vertical-align: top;
			width: 45%;
			padding-left: 5%;

			@include at-query ($max, $large) {
				width: 90%;
				padding-left: none;
			}	
			&:first-child{
				width: 50%;
				padding-left: 0%;
				float: left;
	
				@include at-query ($max, $large) {
					width: 90%;
					float: none;
				}	
			}
			&:nth-child(2){
				margin-top: -0.3em;
				@include at-query ($max, $large) {
					margin-top: none;
				}
			}
		}
		.clear{
			clear: both;
			width: 100%;
		}
		img{
			width: 90%;
		}
	}

	.philosophy{
		padding-bottom: 0;

		width: 160%;
		margin: 0 -30% 0 -30%;
		@include at-query ($max, $inbetween) {
			width: 100%;
			margin: 0 auto;
		}
		ul{
			text-align: center;
			margin-top: 4em;
			padding-bottom: $pb/1.5;
		}
		li{
			display: inline-block;
			width: 30%;
			text-align: center;
			vertical-align: top;
			@include at-query ($max, $medium) {
				width: 100%;
				display: block;
			}
		}
		blockquote {
			text-align: center;
			margin: 4em auto 1em auto;
		}
		p{
			min-width: 150px;
			width: 70%;
			margin: 0 auto;
			text-align: center;
			line-height: 1.5em;
			letter-spacing: 0.03em;
			// background-color: #fff;
			// position: relative;
			padding-top: 20px;
			font-size: 1em;
  			letter-spacing: 0.1em;
		}

		img{
			padding: $pb*0.25 0;
			height: 100px;
			margin-bottom: -40px;
		}
	}

	.process{
		li{
			width: 100%;

			p{
				// width: 60%;
				// min-width: 400px;
				// margin:0 auto;
				img{
					min-width: 60%;
					max-width: 100%;
					
					display: block;
					margin:0 auto;
				}
			}
			p:first-child{
				width: 100%;
			}
		}
		// li{
		// 	position: relative;
		// 	display: inline-block;
		// 	width: 32%;
		// 	padding-right: 1%;
		// 	vertical-align: top;
		// 	p:first-child{
		// 		height: 300px;
		// 		position: relative;
		// 		overflow: hidden;
		// 	}
		// 	img{
		// 		min-width: 100%;
		// 		min-height: 300px;
		// 		@include vertical-align;
		// 	}
		// 	/*h3{
		// 		// position: absolute;
		// 		// top: 0;
		// 		// left: 0;
		// 		width: 100%;
		// 		text-transform: inherit;
		// 		padding-bottom: $pb*0.25;
		// 	}
		// 	&:hover h3{
		// 		background-color: $white;
		// 	}*/
		// }
		// .wide{
		// 	width: 65%;
		// }
		// ul{
		// 	width: 100%;
		// }
		// p {
		// 	font-size: 1em;
		// 	line-height: 1.6em;
  // 			letter-spacing: .04em;
		// }
	}

	.edit-here {
		color: #f00;
	}	

	.NEWSTYLEprocess{
		width: 130%;
		margin: 0 -15%;
		
		li{
			position: relative;
			display: inline-block;
			width: 37%;
			padding-right: 1%;
			vertical-align: top;
			// p:first-child{
			// 	height: 300px;
			// 	position: relative;
			// 	overflow: hidden;
			// }
			img{
				min-width: 100%;
				min-height: 300px;
				@include vertical-align;
			}
			/*h3{
				// position: absolute;
				// top: 0;
				// left: 0;
				width: 100%;
				text-transform: inherit;
				padding-bottom: $pb*0.25;
			}
			&:hover h3{
				background-color: $white;
			}*/
		}
		.wide{
			width: 61%;
		}
		ul{
			width: 100%;
		}
	}	



}