@import "settings";

body,html{
	padding: 0;
	margin: 0;
	font-family: 'Gotham A','Gotham B';
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: $black;
	font-size: $fs;
	background-color: $darkgrey;
}

@import "global";
@import "footer";
@import "nav";
@import "index";

@import "product";
@import "productthumbnail";
@import "info";
@import "collections";
@import "stagard";
@import "blog";
@import "article";
@import "story.scss";
@import "swatch";
@import "cart";
@import "lookbook";
@import "page";

div#shopify-theme-controls{
	display: none;
}