@import "settings";

.colourswatch{
	position: relative;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
	border-radius: 50%;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		-ms-transform: translate(-50%,-50%); /* IE 9 */
		-webkit-transform: translate(-50%,-50%); /* Safari */
		transform: translate(-50%,-50%);
	}
	.color-select {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		margin: -5px 0 0 -5px;
		position: absolute;
	}
}