.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Gotham A','Gotham B';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #363636;
  font-size: 0.95em;
  background-color: #555555; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

h1, h2, h3, h4, h4, h5, a, ul, li, p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  color: inherit;
  text-decoration: none; }

h3, h4 {
  text-transform: uppercase;
  font-weight: normal; }
  h3.lined, h4.lined, .infopage > h3, .infopage > h4 {
    padding-bottom: 18.75px;
    border-bottom: 1px solid #363636;
    margin: 0 0 37.5px 0;
    padding: 75px 0 18.75px 0; }

h4 {
  display: inline-block; }
  h4 a {
    color: #818a8f;
    font-size: 0.85em;
    display: inline-block; }

#main {
  padding-bottom: 150px;
  background-color: white;
  min-height: 40%;
  min-height: 40vh;
  width: 100%; }

#wrapper {
  width: 100%;
  position: relative;
  padding-top: 175px; }
  @media screen and (max-width: 1120px) {
    #wrapper {
      padding-top: 75px; } }

.hide {
  display: none; }

.slideshow {
  width: 100%;
  background-color: #818a8f;
  position: relative;
  overflow: hidden;
  margin: -75px 0 150px 0;
  height: 500px;
  height: 60vh; }
  @media screen and (max-width: 1120px) {
    .slideshow {
      height: 400px; } }
  .slideshow .slick-slide {
    position: relative;
    overflow: hidden;
    height: 500px;
    height: 60vh; }
    @media screen and (max-width: 1120px) {
      .slideshow .slick-slide {
        height: 400px; } }
    .slideshow .slick-slide img {
      position: relative;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 100%; }
  .slideshow .slick-prev, .slideshow .slick-next {
    position: absolute;
    top: 0;
    z-index: 99;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: transparent;
    width: 20%;
    padding: 0;
    color: transparent; }
    .slideshow .slick-prev:focus, .slideshow .slick-next:focus {
      outline: none; }
  .slideshow .slick-prev {
    left: 0; }
  .slideshow .slick-next {
    right: 0; }

input {
  border: 1px solid #363636;
  padding: 1em 2.75em;
  -webkit-appearance: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit; }

.button {
  background-color: #363636;
  color: white;
  border: none;
  -webkit-appearance: none;
  text-transform: uppercase; }
  .button.small {
    padding: .45em 1.5em;
    margin-right: 1%; }
  .button.large {
    padding: 1em 2.75em; }

.lifestyleshot {
  display: none;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 150px; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0); }

  100% {
    opacity: 1;
    transform: none; } }
#main #wrapper {
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative; }

#main #wrapper {
  -webkit-animation: fadeIn 0.5s; }

#main.is-exiting #wrapper {
  -webkit-animation: fadeIn 0.5s;
  -webkit-animation-direction: alternate-reverse;
  -ms-animation-direction: alternate-reverse;
  -moz-animation-direction: alternate-reverse;
  -o-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

.footer {
  background-color: #555555;
  color: #fff; }
  .footer > div > div {
    padding: 75px 0; }
  .footer .logo, .footer .footer-nav, .footer .news {
    vertical-align: top;
    display: inline-block;
    padding-left: 4%; }
  .footer .logo {
    width: 16%; }
    .footer .logo svg {
      width: 100px; }
    .footer .logo path {
      fill: white; }
  .footer .footer-nav {
    width: 16%; }
    .footer .footer-nav li {
      padding: 0.2em 0; }
  .footer .news {
    width: 36%; }
    .footer .news span {
      margin-bottom: 0.7em;
      display: inline-block; }
    .footer .news input {
      padding: 0.5em 5%;
      border: solid white 2px;
      color: white;
      width: 90%;
      text-align: left;
      background-color: transparent;
      margin-bottom: 1em; }
    .footer .news path {
      fill: white; }
  .footer .facebook, .footer .twitter, .footer .pintrest {
    padding: 0 0.5em; }
  .footer .facebook {
    padding-left: 0.25em; }
  .footer .notes {
    display: none; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#nav {
  z-index: 9999;
  background-color: white;
  position: fixed;
  width: 100%;
  min-height: 99px;
  border-bottom: 1px solid #363636; }
  @media screen and (max-width: 1120px) {
    #nav {
      right: 0;
      top: 0;
      left: 100%;
      bottom: 0;
      text-align: center;
      font-size: 2em;
      overflow: visible; } }
  #nav > div {
    position: relative; }
    @media screen and (max-width: 1120px) {
      #nav > div {
        overflow: scroll;
        height: 100%; } }
  #nav > ul, #nav div {
    vertical-align: top; }
  #nav #nav-logo {
    position: fixed;
    left: 0;
    top: 0;
    padding: 2em 0 1em 2em; }
    #nav #nav-logo svg {
      width: 90px;
      height: 52px; }
  #nav #nav-main {
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    text-align: center; }
    @media screen and (min-width: 1120px) {
      #nav #nav-main {
        padding-top: 2em;
        height: 18px; } }
    @media screen and (max-width: 1120px) {
      #nav #nav-main {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding-bottom: 75px;
        background-color: white; } }
    #nav #nav-main > li {
      display: inline-block;
      vertical-align: top;
      padding-right: 3em; }
      @media screen and (max-width: 1120px) {
        #nav #nav-main > li {
          display: block;
          text-align: center;
          padding: 0; } }
  #nav .nav-item-clickable {
    display: block;
    padding: 37.5px 0 0 0; }
    @media screen and (min-width: 1120px) {
      #nav .nav-item-clickable {
        padding: 0 0 10px 0; } }
  #nav .sublist {
    display: block; }
    @media screen and (min-width: 1120px) {
      #nav .sublist {
        display: inline-block;
        border-top: 1px solid #363636;
        padding-top: 7px; } }
    #nav .sublist a {
      color: #818a8f;
      font-size: 0.85em;
      display: inline-block;
      padding: 0.25em 0 0.25em 0; }
    @media screen and (max-width: 1120px) {
      #nav .sublist li {
        text-align: center; } }
  #nav #nav-cart {
    padding-top: 2em;
    right: 2em; }
    @media screen and (min-width: 1120px) {
      #nav #nav-cart {
        position: absolute; } }
    #nav #nav-cart li {
      text-align: center; }
    #nav #nav-cart.updated {
      background-color: #f0c; }
  @media screen and (min-width: 1120px) {
    #nav:hover #nav-main {
      height: 155px; } }
  #nav .hamburger {
    position: fixed;
    right: 0;
    top: 0; }
    @media screen and (min-width: 1120px) {
      #nav .hamburger {
        display: none; } }
    #nav .hamburger a {
      font-size: 3em;
      padding: 75px;
      line-height: 0;
      display: block; }

@media screen and (max-width: 1120px) {
  .opennav #nav {
    left: 0%; } }
.shipping > div {
  display: none;
  position: fixed;
  bottom: -50px;
  height: 50px;
  width: 100%;
  background-color: #555555;
  color: white;
  text-align: center;
  -webkit-transition: bottom 0.5s ease-in-out;
  -moz-transition: bottom 0.5s ease-in-out;
  -ms-transition: bottom 0.5s ease-in-out;
  -o-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out; }
.shipping .show {
  display: block;
  bottom: 0%; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.logos {
  text-align: center;
  margin-top: 150px !important; }
  .logos .logo {
    display: inline-block;
    position: relative;
    padding: 5%;
    width: 20%; }
    .logos .logo .hover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }
      .logos .logo .hover:hover {
        opacity: 1; }

.featureditems {
  margin-top: 75px !important; }
  .featureditems .product {
    display: inline-block;
    padding: 75px 0 0 0;
    vertical-align: top; }
    .featureditems .product h3, .featureditems .product h4 {
      padding-top: 10.125px; }
    .featureditems .product h4 {
      display: inline-block;
      padding-bottom: 9.375px; }
    .featureditems .product .backgroundimage {
      height: 300px;
      position: relative; }
    .featureditems .product .bottom p, .featureditems .product .bottom ul, .featureditems .product .bottom h3, .featureditems .product .bottom h4, .featureditems .product .bottom h2 {
      display: none; }
    .featureditems .product .bottom p:first-child {
      display: block; }
    .featureditems .product .text {
      position: relative; }
      .featureditems .product .text .bottom {
        position: relative; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#product {
  position: relative;
  z-index: 2; }
  #product .multi-product {
    padding-bottom: 75px; }
  #product .left {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 28.125px; }
    #product .left .list {
      width: 20%;
      display: inline-block;
      vertical-align: top; }
      #product .left .list img {
        width: 80%;
        margin: 0 20% 20% 0; }
    #product .left .main {
      width: 80%;
      display: inline-block;
      vertical-align: top; }
      #product .left .main img {
        width: 100%; }
  #product .right {
    width: 40%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top; }
    #product .right ul {
      padding: 1em 0; }
      #product .right ul li {
        font-size: 0.90em;
        color: #555555; }
    #product .right .price {
      padding-top: 37.5px;
      text-align: right;
      width: 80%;
      color: #2a7fc0; }
    #product .right .description {
      padding-top: 37.5px; }
      #product .right .description ul {
        padding: 9.375px 0 0 0; }
    #product .right .quantity, #product .right .add {
      border: 2px solid #363636;
      padding: 1em 0;
      width: 40%;
      margin-right: 2%; }
    #product .right .available-colours {
      padding-top: 37.5px; }
      #product .right .available-colours ul {
        padding: 9.375px 0 0 0; }
      #product .right .available-colours li {
        display: inline-block; }
    #product .right .sizing {
      padding: 37.5px 0; }
    #product .right .currentcolour {
      text-decoration: underline; }
    #product .right .selected {
      border: solid 1px #f00; }
  #product .sizechart {
    padding-bottom: 75px; }
    #product .sizechart p, #product .sizechart table {
      width: 49%;
      vertical-align: top; }
    #product .sizechart p {
      display: inline-block; }
    #product .sizechart table {
      display: inline-table; }
  #product .similar-products {
    padding: 75px 0; }

.social-product {
  position: absolute;
  width: 100%; }
  .social-product .offsetleft {
    position: relative;
    left: -5%; }
  .social-product a {
    display: block;
    padding: 28.125px 0; }

.productthumbnail {
  position: relative;
  min-height: 200px;
  width: 31.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  text-align: left; }
  .productthumbnail.listitem {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    margin-right: 1%; }
    .productthumbnail.listitem img {
      width: 100%; }
  .productthumbnail .backgroundimage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center; }
  .productthumbnail .second {
    display: none; }
  .productthumbnail .text {
    position: relative;
    display: block; }
    .productthumbnail .text h3, .productthumbnail .text h4 {
      margin: 0; }
    .productthumbnail .text h4 {
      width: auto !important; }
    .productthumbnail .text .bottom {
      position: absolute;
      bottom: 0;
      left: 0; }
      .productthumbnail .text .bottom p, .productthumbnail .text .bottom ul, .productthumbnail .text .bottom h3, .productthumbnail .text .bottom h4 {
        display: none; }
      .productthumbnail .text .bottom p:first-child {
        display: block; }
    .productthumbnail .text .price {
      display: block; }
  .productthumbnail:hover .backgroundimage {
    display: none; }
  .productthumbnail:hover .second {
    display: block; }
  .productthumbnail.big {
    width: 64.5%; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.infopage {
  padding-bottom: 6em; }
  .infopage p {
    margin-left: 10%;
    width: 70%; }
  .infopage > h3:first-child, .infopage > h4:first-child {
    padding-top: 0; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.collections h3, .collections h4 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }
.collections .subcollection {
  text-align: center; }
.collections .productthumbnail {
  margin-right: 1%;
  display: inline-block;
  height: 400px;
  margin: 37.5px 0 37.5px 0; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.stagard .product {
  position: relative;
  display: inline-block;
  height: 300px;
  vertical-align: top;
  color: #363636; }

.blog li, .story .process li {
  position: relative;
  display: inline-block;
  width: 32%;
  padding-right: 1%;
  vertical-align: top; }
  .blog li p:first-child, .story .process li p:first-child {
    height: 300px;
    position: relative;
    overflow: hidden; }
  .blog li img, .story .process li img {
    min-width: 100%;
    min-height: 300px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .blog li h3, .story .process li h3, .blog li h4, .story .process li h4 {
    width: 100%;
    text-transform: inherit;
    padding-bottom: 18.75px; }
  .blog li:hover h3, .story .process li:hover h3, .blog li:hover h4, .story .process li:hover h4 {
    background-color: white; }
.blog .wide, .story .process .wide {
  width: 65%; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.article h2 {
  text-align: center; }
.article p {
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 1.3em;
  line-height: 1.6em;
  letter-spacing: .04em; }
.article blockquote {
  margin: 1em -80px;
  font-style: italic;
  font-size: 1.3em;
  color: #999;
  width: 100%; }
  .article blockquote p::before {
    content: '';
    display: block;
    margin: 0 auto 1em auto;
    width: 3em;
    border-top: 2px solid #2a7fc0; }
  .article blockquote p::after {
    content: '';
    display: block;
    margin: 0 auto 1em auto;
    width: 3em;
    border-top: 2px solid #2a7fc0; }
.article img {
  width: 100%; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.blog li, .story .process li {
  position: relative;
  display: inline-block;
  width: 32%;
  padding-right: 1%;
  vertical-align: top; }
  .blog li p:first-child, .story .process li p:first-child {
    height: 300px;
    position: relative;
    overflow: hidden; }
  .blog li img, .story .process li img {
    min-width: 100%;
    min-height: 300px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .blog li h3, .story .process li h3, .blog li h4, .story .process li h4 {
    width: 100%;
    text-transform: inherit;
    padding-bottom: 18.75px; }
  .blog li:hover h3, .story .process li:hover h3, .blog li:hover h4, .story .process li:hover h4 {
    background-color: white; }
.blog .wide, .story .process .wide {
  width: 65%; }

.story .pagecontent {
  padding: 0 0 0 0; }
  .story .pagecontent p {
    width: 50%;
    margin: 0 auto;
    padding: 9.375px 0 75px 0; }
.story .gandh p {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-left: 5%; }
  .story .gandh p:first-child {
    width: 50%;
    padding-left: 0%;
    float: left; }
.story .gandh .clear {
  clear: both;
  width: 100%; }
.story .gandh img {
  width: 100%; }
.story .philosophy li {
  display: inline-block;
  width: 30%;
  text-align: center; }
.story .philosophy h4 {
  text-align: center;
  display: block; }
.story .philosophy p {
  min-width: 150px;
  width: 50%;
  margin: 0 auto; }
.story .process ul {
  width: 100%; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.colourswatch {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%; }
  .colourswatch img {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari */
    transform: translate(-50%, -50%); }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.cart {
  padding: 150px 0;
  width: 100%; }
  .cart p {
    text-align: center; }
  .cart table {
    width: 100%; }
    @media screen and (max-width: 1120px) {
      .cart table {
        width: 80%;
        margin: 0 auto; } }
  .cart td, .cart a {
    vertical-align: top; }
  .cart td {
    margin-top: 18.75px;
    padding-top: 56.25px; }
    .cart td:first-child {
      padding-top: 18.75px; }
      .cart td:first-child a {
        padding-top: 37.5px; }
  .cart .subtotal, .cart .actions {
    text-align: right; }
  .cart .total, .cart .total h3, .cart .total h4 {
    text-align: right; }
  .cart .desc img {
    width: 35%; }
  .cart .desc a {
    width: 55%;
    margin-left: 3%;
    display: inline-block; }

#cart {
  padding: 0; }
  @media screen and (max-width: 1120px) {
    #cart {
      padding: 75px 0; } }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.lookbook .image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 0; }
  .lookbook .image svg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: auto; }

.center, #nav #nav-main, .logos, .featureditems, #product, .social-product .offsetleft, .infopage, .collections .subcollection, .stagard, .article, .story, .cart, #corporate {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#corporate {
  text-align: center; }
  #corporate iframe {
    min-height: 100%;
    min-height: 100vh; }
