{% if collection.handle == "all" %}
	{% include "collection-stagard" %}
{% else %}
	<div class="collections">
		<div>
		{% if collection.all_products_count > 0 %}
			{% assign section = "none"%}
			{% for product in collection.products %}
				{% if product.type != section %}
					</div>
					<h3 class="lined">{{product.type}}</h3>
					<div class="subcollection">
					{% assign section = product.type %}
				{% endif %}

				<!-- we send the right product thumbnail single, double, tripple based of number of | pips... -->
				{% assign productTypeSplit = product.title | split: "|" %}
				{% assign pipCount = productTypeSplit | size %}
				{% assign loopTemplate = 'product-thumbnail-'| append: pipCount%}
				<!-- <h2>{{pipCount}}</h2> -->
				{% include loopTemplate%}

			{% endfor %}

		{% else %}
			<p>Sorry, there are no products in this collection</p>
		{% endif %}
	</div></div></div>
{% endif %}
