{% if collection.handle == "all" %}
	<!-- Collection stagard -->
	{% include "collection-browseall" %}
{% else %}
{% assign bigNext = 0 %}
{% assign bigIndex = 1 %}
{% assign blankPreviousSelection = false %}
{% assign firstloop = true %}
	<div class="collections">
		{% comment %}<div>{% endcomment %}
		{% if collection.all_products_count > 0 %}
			{% assign section = "none"%}
			{% for product in collection.products %}
				
				{% assign pro_split = product.title | split: "|" %}
				{% assign pro_split_count = pro_split | size %}


				{% if pro_split_count > 2 and product.type != "Meditation Bench" %}
					{% assign productType = product.type | append: pro_split[1]%}
				{% else %}
					{% assign productType = product.type %}
				{% endif %}
				{% if pro_split[1] contains "Blank" %}
					{% if blankPreviousSelection != true %}
						</div>
						{% comment %}<h3 class="lined">The Core Blank</h3>{% endcomment %}
						<h2>The Core Blank</h2>
						<div class="subcollection">
						{% assign blankPreviousSelection = true %}
					{% endif %}
				{% else %}
					{% assign blankPreviousSelection = false %}
					{% if productType != section %}
						{% if firstloop == false %}
							</div>
						{% endif %}
						{% comment %}<h3 class="lined">{{productType}}</h3>{% endcomment %}
						<h2 class="lined">{{productType}}</h2>
						<div class="subcollection">
						{% assign section = productType %}
					{% endif %}
				{% endif %}



				{% include "collection-productthumbnail" %}
				{% if pro_split_count > 2 and product.type == "Meditation Bench" %}
					<br>
				{% endif %}


			 	{% assign firstloop = false %}
			{% endfor %}

		{% else %}
			<p>Sorry, there are no products in this collection</p>
		{% endif %}
	</div></div></div>
{% endif %}
