{% if collection.handle == "all" %}
	{% include "collection-stagard" %}
{% else %}
	<div class="collections">
		{% if collection.all_products_count > 0 %}
			{% assign section = "none"%}
			{% for product in collection.products %}

				{% if product.type != section %}
					<h3 class="lined">{{product.type}}</h3>
					{% assign section = product.type %}
				{% endif %}

				{% include 'product-thumbnail'%}

			{% endfor %}

		{% else %}
			<p>Sorry, there are no products in this collection</p>
		{% endif %}
	</div></div>
{% endif %}
