
<div class="slideshow">
	{% for article in blogs['index'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>

<div class="logos">
	<div class="logo">
		{% include 'logo-body.html' %}
		<div class="hover">
			<p>short description</p>
		</div>
	</div><div class="logo">
		{% include 'logo-mind.html' %}
		<div class="hover">
			<p>short description</p>
		</div>
	</div><div class="logo">
		{% include 'logo-urban.html' %}
		<div class="hover">
			<p>short description</p>
		</div>
	</div>
</div>



{% assign page = pages.frontpage %}
{{ page.content }}
{% assign collection = collections["featured-products"] %}

{% include "collection-stagard" %}

<h2>additional content</h2>

{% capture additionalfield %}about-us{% endcapture %}

{{ pages[additionalfield].content }}







