<div class="slideshow">
	{% for article in blogs['info'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>

<div class="infopage">
	{{ page.content }}

	{% for link in linklists.footer.links %}
		<div id="{{link.handle}}">
			{{ pages[link.handle].content }}
		</div>
	{% endfor %}
</div>

