
{%comment%}
Setting up the variables for the page
{%endcomment%}
{% assign limit = 6 %}
{% assign col = product.collections.first.handle %}
{% assign products = collections[col].products %}
{% assign productCount = products | size %}
{% assign skip_product = product %}
{% assign skip_product_split = product.title | split: "|" %}
{% assign skip_product_split_count = skip_product_split | size %}
{% assign productLoop = "product0|product1|product2|product3" | split: "|" %}
{% assign includeColours = 0 %}
{% include "product-get-colour-productlist" %}


<div id="product">
	{% assign product = product0 %}
	{% include "product-page-content"%}

	{% if product1 %}
		{% assign product = product1 %}
		{% include "product-page-content"%}
	{% endif %}
	{% if product2 %}
		{% assign product = product2 %}
		{% include "product-page-content"%}
	{% endif %}
	{% if product3 %}
		{% assign product = product3 %}
		{% include "product-page-content"%}
	{% endif %}	

	<div class="similar-products">
		<h3 class="lined">Similar Products</h3>

		{% assign previous_split = skip_product_split %}
		{% assign previous_split_count = skip_product_split_count %}

		{% for product in products %}<!-- 
			{% if product != product0 and product != product1 and product != product2 and product != product3 %}
				{% assign current_split = product.title | split:"|" %}
				{% assign current_split_count = current_split | size %}
				{% if current_split_count != previous_split_count %}
					{% increment count %}
					{% if count > 5 %}-->{% break %}<!--{% endif %}
					-->{% include 'product-thumbnail-productpage'%}<!--
					{% assign previous_split = current_split %}
					{% assign previous_split_count = current_split_count %}
				{% elsif current_split_count == 2 and current_split[0] != previous_split[0] %}
					{% increment count %}
					{% if count > 5 %}-->{% break %}<!--{% endif %}
					-->{% include 'product-thumbnail-productpage'%}<!--
					{% assign previous_split = current_split %}
					{% assign previous_split_count = current_split_count %}
				{% elsif current_split_count == 3 and current_split[0] != previous_split[0] or current_split[1] != previous_split[1] %}
					{% increment count %}
					{% if count > 5 %}-->{% break %}<!--{% endif %}
					-->{% include 'product-thumbnail-productpage'%}<!--
					{% assign previous_split = current_split %}
					{% assign previous_split_count = current_split_count %}
				{% elsif current_split_count == 4 and current_split[0] != previous_split[0] or current_split[1] != previous_split[1] and current_split[2] != previous_split[2] %}
					{% increment count %}
					{% if count > 5 %}-->{% break %}<!--{% endif %}
					-->{% include 'product-thumbnail-productpage'%}<!--
					{% assign previous_split = current_split %}
					{% assign previous_split_count = current_split_count %}	
			{% endif %}{% endif %}	
		-->{% endfor %}

	</div>
</div>